<mat-card class="card-pay-container">
  <mat-card-header>
    <mat-card-actions>
      <button mat-button class="button-back" (click)="closeDialog()">Return</button>
    </mat-card-actions>
  </mat-card-header>
  <mat-card-content>
    <div class="pay-title">
      <mat-card-title >Considerations</mat-card-title>
      <p>Just proceed with the payment if you have already previously agreed with the lawyer
        In question, because the cost of service can vary from the usual price. If you are completely
        Sure, fill in the information below to make the corresponding payment.</p>
      <mat-card-title>Card payment</mat-card-title>
    </div>
    <div class="pay-container">
      <div class="pay-1">
        <div>
          <b>Card number: </b>
          <input type="text" placeholder="XXXX-XXXX-XXXX-XXXX">
        </div>
        <div>
          <b>Amount payable: </b>
          <input type="text" placeholder="S/ 0.00">
        </div>
      </div>
      <div class="pay-1">
        <div>
          <b>Date of Expiry: </b>
          <input type="text" placeholder="MM/AA">
        </div>
        <div>
          <b>Security code: </b>
          <input type="text" placeholder="XXX">
        </div>
      </div>
    </div>
    <mat-card-actions>
      <button mat-button (click)="openPaymentConfirmedDialog()">Continue</button>
      //<button mat-button (click)="openPaymentInfo()">Continue</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
