<mat-card *ngIf="lawyer" class="lawyer-card">
  <mat-card-header>
    <mat-card-actions>
      <button mat-button class="button-back"(click)="closeDialog()">Cancel</button>
    </mat-card-actions>
  </mat-card-header>
  <div class="card-content">
    <div class="card-upper">
      <div class="card-image">
        <img mat-card-image [src]="lawyer.img_url" alt="Lawyer Picture">
      </div>
      <div class="card-details">
        <mat-card-title>{{lawyer.lawyerName}}</mat-card-title>
        <p>Specialty: none </p>
        <p>Years of experience: {{lawyer.yearsExperience}}</p>
        <p>Cases won: {{lawyer.casesWon}}</p>
        <p>Price: {{lawyer.price}}</p>
      </div>
    </div>
    <div class="card-lower">
      <h2>Contact information:</h2>
      <div class="contact-info">
        <p>Phone: {{lawyer.phoneNumber}}</p>
        <p>E-mail: {{lawyer.email}}</p>
      </div>
      <mat-card-actions>
        <button mat-button (click)="openSubscriptionPay()">Pagar Servicios</button>
        <button mat-button>Solicitar Consultas</button>
      </mat-card-actions>
    </div>
  </div>
</mat-card>
