<mat-card class="filter-container">
  <mat-card-header class="card-header">
    <button mat-button class="button-header" (click)="closeDialog()">Return</button>
    <button mat-button class="button-header">Rest filters</button>
    <button mat-button class="button-header">Search with these options</button>
  </mat-card-header>
  <mat-card-content>
    <div class="content-1">
      sort by:
      <div class="content-buttons-1">
        <button mat-button class="button-content-1">Name</button>
        <button mat-button class="button-content-1">Years of experience</button>
        <button mat-button class="button-content-1">Cases won</button>
        <button mat-button class="button-content-1">Price</button>
      </div>
    </div>
    <div class="content-1">
      Address:
      <div class="direction-buttons">
        <button mat-button class="button-content-1">Upward</button>
        <button mat-button class="button-content-1">Falling</button>
      </div>
    </div>
    <div class="age-container">
      <div class="content-1">
        Years of experience required:
      </div>
      <div>
        <button mat-button class="button-content-1">Minimum</button>
        a
        <button mat-button class="button-content-1">Maximum</button>
      </div>
    </div>
    <div class="price-container">
      <div class="content-1">
        Regular price limit:
      </div>
      <div>
        <button mat-button class="button-content-1">Minimum</button>
        a
        <button mat-button class="button-content-1">Maximum</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
