<div class="subscription-container">
  <div class="card-1">
    <mat-card style="height: 100%">
      <div class="card-1-info">
        <mat-card-title>Ayuda Legal:</mat-card-title>
        <mat-card-content>
          <p>Para médicos que buscan asistencia legal
            especializada de parte de nuestros abogados expertos en medicina legal.
            Este grupo ingluye a profesionales médicos de diversas especialidades,
            desde médicos generales hasta cirujanos y especialistas en áreas específicas
            como la obstetricia, oncología o la neurología.</p>
        </mat-card-content>
        <mat-card-actions style="justify-content: center" >
          <button mat-button>Adquirir</button>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>
  <div class="card-1">
    <mat-card style="height: 100%">
      <div class="card-1-info">
        <mat-card-title>Suscripción Mensual:</mat-card-title>
        <mat-card-content>
          <p>Para todas las personas que buscan adquirir nuestras suscripciones para obtener
            acceso a consultas y consejos legales de mano de abogados especializados en medicina.
            <br>La suscripción dura 30 días a partir de la fecha y hora en que se compró.</p>
        </mat-card-content>
        <mat-card-actions style="justify-content: center">
          <button mat-button>Adquirir</button>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>
</div>
