<div class="subscription-container">
  <div class="card-1">
    <mat-card style="height: 100%">
      <div class="card-1-info">
        <mat-card-title>Legal help:</mat-card-title>
        <mat-card-content>
          <p>For doctors looking for legal assistance
            Specialized by our expert lawyers in Legal Medicine.
            This group inglos medical professionals from various specialties,
            From general doctors to surgeons and specialists in specific areas
            such as obstetrics, oncology or neurology.</p>
        </mat-card-content>
        <mat-card-actions style="justify-content: center" >
          <button mat-button>Acquire</button>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>
  <div class="card-1">
    <mat-card style="height: 100%">
      <div class="card-1-info">
        <mat-card-title>Monthly subscription:</mat-card-title>
        <mat-card-content>
          <p>For all people seeking to acquire our subscriptions to obtain
            Access to legal consultations and advice of lawyers specialized in medicine.
            <br> The subscription lasts 30 days from the date and time it was bought.</p>
        </mat-card-content>
        <mat-card-actions style="justify-content: center">
          <button mat-button (click)="openDialog()">Acquire</button>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>
</div>
