<mat-toolbar color="primary">
  <img src="../assets/img/Logo.png" alt="Logo" class="logo">
  <div class="mat-spacer"></div>
  <div class="centered-links">
    <ng-container *ngFor="let option of options">
      <a mat-button *ngIf="option.title !== 'LandingPage'" [routerLink]="option.path">{{ option.title }}</a>
    </ng-container>
  </div>
  <a mat-button href="https://open-source-grupo-testigos-de-jehova.github.io/Landing-page-MedicDefense/" target="_blank" class="right-link">LandingPage</a>
</mat-toolbar>
<router-outlet/>
<footer>
  <app-footer-content></app-footer-content>
</footer>
