<div class="summary-section">
  <mat-card class="card">
    <mat-card-content>
      <h2>Servicios Legales</h2>
      <div class="lawyer-card" *ngFor="let lawyer of lawyers">
        <div class="card-left">
          <p>Fecha: {{randomDate()}}</p>
        </div>
        <div class="card-right">
          <h3>{{lawyer.name}}</h3>
          <p>Costo: {{lawyer.price}}</p>
          <button mat-button>Revisar</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <hr>
  <mat-card class="card">
    <mat-card-content>
      <h2>Consultas</h2>
      <div class="lawyer-card" *ngFor="let consultation of lawyers">
        <div class="card-left">
          <p>Fecha: {{randomDate()}}</p>
        </div>
        <div class="card-right">
          <h3>{{consultation.name}}</h3>
          <button mat-button>Revisar</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
