<div class="summary-section">
  <mat-card class="card">
    <mat-card-content>
      <h2>Legal services</h2>
      <div class="lawyer-card" *ngFor="let lawyer of lawyers">
        <div class="card-left">
          <p>Date: {{randomDate()}}</p>
        </div>
        <div class="card-right">
          <h3>{{ lawyer.lawyerName }}</h3>
          <p>Cost: {{lawyer.price}}</p>
          <button mat-button (click)="openLegalCaseDialog(lawyer)">Review</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <hr>
  <mat-card class="card">
    <mat-card-content>
      <h2>Consultations</h2>
      <div class="lawyer-card" *ngFor="let consultation of lawyers">
        <div class="card-left">
          <p>Date: {{randomDate()}}</p>
        </div>
        <div class="card-right">
          <h3>{{consultation.lawyerName}}</h3>
          <button mat-button (click)="openConsultationDialog(consultation)">Review</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
