<app-lawyer-toolbar *ngIf="shouldShow()"></app-lawyer-toolbar>
<main class="main-content">
  <div class="section">
    <div class="content">
      <div class="user-info">
        <div class="description">
          <img src="/assets/img/User.png" alt="User">
        </div>
        <div class="information">
          <p>User: GabMedicoPrueba</p>
          <p>Names: Gabriel Stefano</p>
          <p>Surnames: Garcia Rodriguez</p>
          <p>Mail: {{ 'gabotw@gmail.com' }}</p>
          <p>DNI: 2324234</p>
        </div>
      </div>
      <div class="info-row">
        <div class="consultations">
          <p>Consultations made: 10</p>
          <p>Paid services: 1</p>
        </div>
        <div class="suscriptions">
          <p>Subscriptions paid: 1</p>
          <p>State: Certified doctor</p>
        </div>
      </div>
      <div class="buttons">
        <a mat-button href="/edit-profile" (click)="selectLink('/edit-profile')" [ngClass]="{ 'active': selectedLink === '/edit-profile' }">Edit profile</a>
        <a mat-button href="" (click)="selectLink('')" [ngClass]="{ 'active': selectedLink === '' }">Sign off</a>
        <a mat-button href="" (click)="selectLink('')" [ngClass]="{ 'active': selectedLink === '' }">Delete account</a>
      </div>
    </div>
  </div>
</main>
