<div class="structure">
  <mat-card class="img-card">
    <mat-card-content>
      <div class="img-container">
        <img src="assets/img/Logo.png" alt="logo" class="logo-img">
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="form-card">
    <mat-card-content>
      <div class="user-info">
        <br>
        <mat-label style="text-align: center; font-size: 30px"><b>Register</b></mat-label>
        <br><br>
        <mat-label style="text-align: left; font-size: 15px">Enter the requested information</mat-label>
        <br>

        <section>
          <mat-label>Do you already have an account?</mat-label>
          <button mat-button (click)="goToLogin()">Log in</button>
        </section>
        <br>
        <div class="form-row">
          <mat-form-field>
            <input matInput [(ngModel)]="name" placeholder="Names">
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field>
            <input matInput [(ngModel)]="lastName" placeholder="Surnames">
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field>
            <input matInput [(ngModel)]="email" placeholder="Email">
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field>
            <input matInput [(ngModel)]="dni" placeholder="DNI">
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field>
            <input matInput [(ngModel)]="password" type="password" placeholder="Password">
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field>
            <input matInput [(ngModel)]="repeat_password" type="password" placeholder="Repeat password">
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-radio-group [(ngModel)]="userType">
            <mat-radio-button value="student">Student</mat-radio-button>
            <mat-radio-button value="doctor">Doctor</mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="form-row" *ngIf="userType === 'student'">
          <mat-form-field>
            <input matInput [(ngModel)]="university" placeholder="University">
          </mat-form-field>
        </div>

        <div class="form-row" *ngIf="userType === 'doctor'">
          <mat-form-field>
            <input matInput [(ngModel)]="placeOfWork" placeholder="Place of Work">
          </mat-form-field>
        </div>

        <div class="form-row">
          <input type="file" (change)="onFileSelected($event)">
        </div>

        <div class="form-row" *ngIf="profilePicturePreview">
          <img [src]="profilePicturePreview" alt="Profile Picture" class="profile-picture-preview">
        </div>

        <button mat-button style="color: black; background-color: #F29979" class="submit-button" (click)="register()">To register</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
