/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  background-color: #A67360;
  font-size: 16px;
  min-height: 100vh;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.main-content {
  min-height: calc(100vh - 100px);
}

@media (max-width: 600px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .container {
    width: 90%;
  }
}

@media (min-width: 901px) {
  .container {
    width: 70%;
  }
}

